<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/loading"
        android:supportsRtl="true"
        android:theme="@style/Theme.Time2Stretch"
        tools:targetApi="31">
        <activity
            android:name=".back1"
            android:exported="false" />
        <activity
            android:name=".waist2"
            android:exported="false" />
        <activity
            android:name=".waist1"
            android:exported="false" />
        <activity
            android:name=".abdomen3"
            android:exported="false" />
        <activity
            android:name=".abdomen2"
            android:exported="false" />
        <activity
            android:name=".abdomen1"
            android:exported="false" />
        <activity
            android:name=".arm3_1"
            android:exported="false" />
        <activity
            android:name=".leg2"
            android:exported="false" />
        <activity
            android:name=".leg1"
            android:exported="false" />
        <activity
            android:name=".leg4"
            android:exported="false" />
        <activity
            android:name=".leg3"
            android:exported="false" />
        <activity
            android:name=".dddd"
            android:exported="false" />
        <activity
            android:name=".arm3"
            android:exported="false" />
        <activity
            android:name=".arm_2"
            android:exported="false" />
        <activity
            android:name=".arm_birddog"
            android:exported="false" />
        <activity
            android:name=".wholebody"
            android:exported="false"
            android:label="@string/title_activity_wholebody"
            android:theme="@style/Theme.Time2Stretch.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>